.box-enter{
    margin-top:100%;
}
.box-enter-active{
    margin-top:0%;
    transition: all .35s ease
}
.box-exit {
    margin-top: 0px;
}
.box-exit-active {
    margin-top: 100%;
    transition: all .35s ease-out
}